 *{
    padding-bottom: 0;
    margin: 0;
    box-sizing: none;
    text-decoration: none;
}
/* HEADER / SECTION */
body{
background-color: black;
    max-width: 1200px;
    margin: 0 auto;

}
header{
    background-color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
    header h1{
        animation: ladoSecao .5s ease-in-out forwards;
        color:#dc3545 ;
        font-size: 2.5rem;
    }
    header span{
        color: white;
    }
     header .navegacao-primaria {
        display: flex;
        gap: 30px;
        align-items: center;

     }
     header .navegacao-primaria li a {
        color: white;
        width: 0px;
        height: 0px;
        font-size: 1.3rem;
    
     }

     header .navegacao-primaria li a::after {
        content:'';
        width: 0px;
        height: 0px;
        display: block;
        border-bottom: 4px solid transparent;
        transition: .6s;
     }

     header .navegacao-primaria li a:hover::after{
        width:100%;
        height: 0px;
        padding: 0px;
        border-bottom: 4px solid #dc3545;
     }
header .navegacao-primaria li a:hover{
    color:#dc3545
}
     .section-div{
        animation: inicializar .7s forwards;
        background-color: black;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-around;
        align-items: center;
        gap: 60px;
        padding: 60px;
     }
     .section-div div{
        margin-top: 120px;
        align-self: start;
        display: grid;
        gap: 30px; 

     }

     .section-div div p{
        text-align: justify;
     }

     .digitando::after{
      content: '|';
      margin-left: 5px;
      opacity: 1;
      animation: pisca .5s infinite;
     }
/* EFEITO DE KAYFRAMES DA SETION */
 @keyframes pisca{
        from{
            opacity: 1;
        
        }
        to{
            opacity: 0;
            
        }
     }

     .section-div h2{
        font-family: 'Poppins';
        font-weight: 600;
        color: #f7f7f7;
     }
     .section-div div   {
        font-family: 'poppins';
        font-weight: 100;
        color: #f7f7f7;
     }
     .section-div div a {
        justify-self: none;
        color: white;
        padding: 15px 40px;
        border-radius: 5px;
        border: 2px solid white;
     }
     .section-div div a i{
        font-size: 40px;
        padding-left: 120px ;
     }
     .section-div div a i:hover{
     color: #dc3545;
     }
     .section-div img{
        max-width: 100%;
        border-radius: 45%;
        padding: 100px;
       margin-top: -50px;
     }
    @keyframes inicializar{
from{
    opacity: 0;
    transform: translate3d(0, -60px, 0);
}
to{
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

    }

    /* seção principal sobre mim */

    main {
        
        background-color: #111;
        color: white;      
      }


main .sobre{
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
    padding: 40px;
   
}
.sobre_titulo{
    margin: 30px 0;
    grid-column: 1/-1;
    text-align: center;
    color: white;
}
.sobre_titulo h1{
    font-size: 2.5rem;
    color: #dc3545;
    margin-bottom: 15px;
    font-family: 'Berkshire Swash', cursive;
}
.sobre_titulo p{
    color: #707070;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    position: relative;

}
.sobre_titulo div{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.sobre_titulo span{
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #dc3545;
}
.sobre img{
    animation: ladoSecao .5s ease-in-out forwards;
    border-radius: 45%;
   grid-row: 2;
    cursor: pointer;
    max-width: 100%;
    filter: blur(0);
   
    
}
.sobre img:hover{
    transition: .5s ease-in;
    filter: blur(1px);
}
.sobre_conteudo{
    animation: sobreSecao .6s ease-in-out forwards;
   display: grid;
     grid-column: 2/-1;
    color: #707070;
    grid-template-columns: 1fr 1fr;
}

.sobre_texto{
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: 1fr 1fr;
}

.sobre_texto h1{
    font: 2.3rem;
    color: #fff;
    grid-column: 1/-1;
     
}
.sobre_texto h1::after{
background-color: #ff5d5f;
height: 6px;
width: 60px;
margin: 20px 0;
content: '';
display: block;
border-radius: 5px;
}
.sobre_texto p::after{
    content:'-Poul Graham.';
    color: #707070;
    display: block;
   
}
.sobre_texto p{
    font-size: 1.3rem;
    grid-row: 2;
    grid-column: 1/-1;
}
.sobre_inf{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/-1;
    gap: 15px;
    align-items: center;
}
.sobre_inf i{
    color: #dc3545;
    display: inline-block;
    padding-right: 15px;
    font-size: 1.5rem;
}
.sobre_inf p{
    font-size: .9rem;
}
/* EFEITO SOBRE CONTEUDO */
@keyframes sobreSecao {
    from{
        transition: .5s;
        transform: translate3d(60px, 0, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}
@keyframes ladoSecao {
    from{
        transition: .5s;
        transform: translate3d(-60px, 0, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

 /* RESPONSIVO DO MENU */

@media(max-width: 992px){
    .section-div img{
        display: none;
    }
    .section-div{
        background-image: none;
        background-repeat: no-repeat;
        background-size: cover;

    }

    header{
        justify-content: space-between;
        padding: 30px 70px;
    }

header .navegacao-primaria{
    display: none;
      } 

      header i {
        color: #f7f7f7;
        font-size: 3rem;
      }
  
}
header .navegacao-primaria.ativado{
    background-image: linear-gradient(rgba(21, 20, 20, 0.001), #6f2129a7);
    position: absolute;
    display: grid;
    top:60px;
    z-index: 1;
    padding: 30px;
    font-size: 1.6rem;
    border-radius: 4px;
    right: 20px;
    animation: sobreSecao .8s ease-in-out forwards;    
}

header i:hover{
color: #dc3545;
    
}

@media(max-width: 992px){
  .sobre img{
    grid-column: 1/-1;
    justify-self: center;
  }
  .sobre_conteudo{
    grid-column: 1/-1;
  }
}

/* SEÇÃO SERVICES */


.services {
    background-color: #111;
    margin-top: 10px;
    padding: 60px;
}


.my_services{
    padding: 60px;
color: white;
}

.my_services ul{
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;  
}
 
.my_services ul li{
    cursor: pointer;
    position: relative;
    padding: 60px;
    display: grid;
    gap: 30px;
    text-align: center;
    max-width: 150;
    background-color: #222;
    border-radius: 6px;
    height: 200px;
    font-size: 2.2rem;
    align-content: center;
}

.my_services ul li i{
    font-size: 3.7rem;
    color: #dc3545;
    width: 150px;
}
.my_services ul li h3{
    color: #fff;
    font-size: 1.6rem;
    font-family: 'poppins';
    font-weight: 400px;
}

.my_services ul li p{
    font-size: 1.1rem;
    text-align: center;
    max-width: 150px;
    color: #707070;
}

.my_services ul li p:hover{
    color: #dc3545;
}


.my_services ul li i:hover{
    color: #707070;
}

.my_services li::before{
    content:'';
    transition: .5s ease-in-out ;
    border-radius: 6px;
    width: 0;
    height: 0;
    position: absolute;
    top: -2px;
    right: -2px;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
}

.my_services li::after{
    content:'';
    border-radius:6px;
    width: 0px;
    height: 0px;
    position: absolute;
    top:-2px;
    right: -2px;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
}

.my_services li:hover::before{
    width: 100%;
    height: 100%;
    border-top: 2px solid red;
    border-right: 2px solid red;
}

.my_services li:hover::after{
    width: 100%;
    height: 100%;
    border-bottom: 2px solid red;
    border-left: 2px solid red;
}
